---
const { site } = Astro.props;
---

<header>
  <div>
    <h1><a href="/">{site.title}</a></h1>
    <span>{site.description}</span>
  </div>
  <div>
    <a href="/"><img src="/favicon.png" /></a>
  </div>
</header>
<hr />
