@media screen {
  .print {
    display: none;
  }
}
@media print {
  .not-print {
    display: none;
  }
  @page {
    margin: 0;
  }

  body {
    max-width: 90%;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    line-height: 100%;
  }

  main {
    margin: 0;
  }

  footer {
    display: none;
  }

  blockquote {
    display: none;
  }
}
