.resume-flex-layout {
  display: flex;
  flex-direction: row;

  div {
    width: 100%;
  }

  img {
    max-height: 250px;
    border-radius: 20%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  @media print {
    img {
      display: none;
    }

    display: block;
  }

  p:has(> img) {
    text-align: center;
    display: inline-block;
    margin: auto;
    width: 100%;
    vertical-align: middle;
  }
}

@media (max-width: 600px) {
  .resume-flex-layout {
    flex-wrap: wrap-reverse;
  }
}
