
<img src="/favicon.png" />
<h1>coming soon...</h1>

<style>
	body {
		background-color: rgb(37, 37, 37);
		font-family: monospace;
		text-align: center;
		color: white;
	}

	p {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		margin-top: 10%;
	}

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100;
	}
</style>